<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>账号设置</title>
    <th:block th:insert="~{common/header :: head}"></th:block>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{common/header :: nav}"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <th:block th:insert="~{common/sider :: user}"></th:block>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="email">我的邮箱</li>
                <li lay-id="pass">设置密码</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <input type="hidden" name="id" id="id" th:value="${user.id}">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <label for="L2_username" class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L2_username" name="L2_username" required lay-verify="required"
                                   autocomplete="off" disabled="disabled" th:value="${user.userName}"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="mail" class="layui-form-label">邮箱号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="mail" name="mail" required lay-verify="email"
                                   autocomplete="off"
                                   class="layui-input" placeholder="请输入您需要绑定的邮箱号" th:value="${user.email}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            请输入正确的邮箱号，可修改换绑
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label for="L_vercode" class="layui-form-label">人机验证</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_vercode" name="yanzheng" required lay-verify="required"
                                   placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">
                            <span style="color: #c00;" id="yanzheng"><</span>
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label for="code" class="layui-form-label">验证码</label>
                        <div class="layui-input-inline">
                            <input type="text" id="code" name="code" required lay-verify="required"
                                   autocomplete="off" class="layui-input" placeholder="验证码发送到邮箱">
                        </div>
                        <button type="submit" class="layui-btn" id="btnSendCode" name="btnSendCode"
                                onclick="getCode()">获取验证码
                        </button>
                    </div>


                    <div class="layui-form-item">
                        <button class="layui-btn" key="set-mine" onclick="submitMail()">提交</button>
                    </div>

                </div>


                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <label for="L_nowpass" class="layui-form-label">当前密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_nowpass" name="nowpass" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">如未设置过，请留空</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="pass" required lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="repass" required lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" key="set-mine" lay-filter="modifyPw" lay-submit>确认修改</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<th:block th:insert="~{common/footer :: foot}"></th:block>
<script src="/layui/layui.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    let i = Math.round(Math.random() * 100);
    let j = Math.round(Math.random() * 100);
    document.getElementById('yanzheng').innerText = i + '+' + j + '=' + '?';

    var temp = document.getElementById("L_vercode");

    isValid = 1;//是否可以发送验证码
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    function getCode() {
        if (isValid == 0) {
            swal({
                title: "哎哟...",
                text: "您刚刚提交过了哦，请等待60s后再提交哦~",
                icon: "error",
                button: "确认",
            });
        } else if (temp.value != (i + j)) {
            swal({
                title: "哎哟...",
                text: "这么简单的数学题都不会么？~",
                icon: "error",
                button: "确认",
            });
            document.getElementById("L_vercode").value = "";
        } else {
            var mail = document.getElementById("mail").value;
            var reg = new RegExp("^[a-z0-9A-Z]+[- | a-z0-9A-Z . _]+@([a-z0-9A-Z]+(-[a-z0-9A-Z]+)?\\.)+[a-z]{2,}$");
            if (!reg.test(mail)) {
                layer.msg("邮箱不合法");
                return false;
            }
            isValid == 0
            curCount = count;

            $("#btnSendCode").attr("disabled", "true");
            $("#btnSendCode").text(curCount + "秒后重新发送");
            $("#btnSendCode").removeAttr("onclick");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次

            $.post('/mail/send', {
                mail: mail,
            }, function (result) {
                if (result.code == 1024) {
                    swal({
                        title: "哎哟...",
                        text: "" + result.message,
                        icon: "error",
                        button: "确认",
                    });
                } else {
                    sweetAlert("请耐心等待", "" + result.message, "info");
                    $('#mail').attr("disabled", "disabled");

                }
            });
        }
    }

    function SetRemainTime() {
        if (curCount == 1) {
            isValid == 1
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").attr("onclick", "getCode();");
            $("#btnSendCode").text("获取验证码");
        } else {
            curCount--;
            $("#btnSendCode").text(curCount + "秒后重新发送");
        }
    }

    function submitMail() {
        // 在此验证人机
        if (temp.value != (i + j)) {
            swal({
                title: "哎哟...",
                text: "这么简单的数学题都不会么？~",
                icon: "error",
                button: "确认",
            });
            document.getElementById("L_vercode").value = "";
            return false;
        }

        var mail = document.getElementById("mail").value;
        var code = document.getElementById("code").value;
        var id = document.getElementById("id").value;


        $.post('/mail/updateEmail', {
            mail: mail,
            code: code,
            id: id
        }, function (result) {
            if (result.code == 200) {
                swal({
                    title: "恭喜您!",
                    text: "您已经成功修改啦，去登录叭!",
                    icon: "success",
                }).then((value) => {
                    window.location.href = '/login';
                });
            } else {
                swal({
                    title: "修改失败!",
                    text: result.message,
                    icon: "error",
                    button: "确认",
                });
            }
        });


    }

</script>
</body>
</html>