<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>账号设置</title>
    <th:block th:insert="~{common/header :: head}"></th:block>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/select.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/t-global.css">
</head>
<body>
<div th:insert="~{common/header :: nav}"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <th:block th:insert="~{common/sider :: user}"></th:block>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">我的资料</li>
                <li lay-id="avatar">头像</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">

                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    <form method="post">
                        <div class="layui-form-item">
                            <label for="username" class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="username" required lay-verify="required"
                                       autocomplete="off" th:value="${user.userName}" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="radio" name="sex" value="男" th:checked="${user.sex==1}"
                                           title="男">
                                    <input type="radio" name="sex" value="女" th:checked="${user.sex==2}"
                                           title="女">
                                </div>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <input type="hidden" th:value="${user.city}" name="locationValue" id="locationValue"
                                  >
                            <label for="location" class="layui-form-label">位置</label>
                            <div class="layui-inline">
                                <div class="layui-form-item"  id="location" name="location">
                                    <div class="layui-input-inline">
                                        <select name="P1" lay-filter="province" id="province">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="C1" lay-filter="city" id="city">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="A1" lay-filter="area" id="area">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="signature" class="layui-form-label">签名</label>
                            <div class="layui-input-block">
                                <textarea placeholder="写点什么吧，让大家更好的认识你" id="signature" name="signature"
                                          autocomplete="off" class="layui-textarea" style="height: 80px;"
                                          th:text="${user.signature}"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">验证</label>
                            <div class="layui-input-inline" id="slider2" name="slider2">
                                <div id="slider"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="submitInfo" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>


                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <div class="avatar-add">
                            <p>像素必须大于168*168，支持jpg、png、gif，最大不能超过1000KB</p>
                            <button type="button" class="layui-btn upload-img">
                                <i class="layui-icon">&#xe67c;</i>上传头像
                            </button>
                            <img th:src="${user.avatarUrl}">
                            <span class="loading"></span>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<th:block th:insert="~{common/footer :: foot}"></th:block>

<script>

    layui.config({
        version: "2.0.0"
        , base: '/mods/'
    }).extend({
        fly: 'index2'
    }).use(['fly', 'sliderVerify', 'jquery', 'form'], function () {
        var sliderVerify = layui.sliderVerify,
            $ = layui.jquery,
            form = layui.form;
        var slider = sliderVerify.render({
            elem: '#slider',
            //isAutoVerify:false,//关闭自动验证
            onOk: function () {//当验证通过回调
                layer.msg("滑块验证通过");
            }
        });
        //监听提交
        form.on('submit(submitInfo)', function (data) {
            if (slider.isOk()) {
                //layer.msg(JSON.stringify(data.field));
                $.post('/user/set/info', {
                    json: JSON.stringify(data.field)
                }, function (res) {
                    if (res.code == 200) swal("修改成功啦!", "" + res.msg, "success");
                    else swal("Oh,no!", "" + res.msg, "error");
                });
            } else {
                layer.msg("请先通过滑块验证");
            }
            return false;
        });

    });
</script>

<script src="/js/select.js" type="text/javascript" charset="utf-8"></script>
<script src="/mods/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>