<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${postDTO.title}"></title>
    <script src="/js/moment.js" type="application/javascript"></script>
    <th:block th:insert="~{common/header :: head}"></th:block>
    <script src="/js/xss.min.js?v=1.6" type="application/javascript"></script>
    <script src="/js/clipboard.js" type="application/javascript"></script>

</head>
<body>

<div th:insert="~{common/header :: nav}"></div>

<div th:insert="~{common/header :: sub_nav}" class="html5plus-hide"></div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1 th:text="${postDTO.title}"></h1>
                <div class="fly-detail-info">
                    <a class="layui-badge layui-bg-green" th:if="${postDTO.type==1}">提问</a>
                    <a class="layui-badge layui-bg-green" th:if="${postDTO.type==2}">分享</a>
                    <a class="layui-badge layui-bg-green" th:if="${postDTO.type==3}">建议</a>
                    <a class="layui-badge layui-bg-green" th:if="${postDTO.type==4}">讨论</a>
                    <a class="layui-badge layui-bg-green" th:if="${postDTO.type==5}">公告</a>
                    <a class="layui-badge layui-bg-green" th:if="${postDTO.type==6}">动态</a>
                    <span class="layui-badge" style="background-color: #999;">未结</span>

                    <span th:if="${postDTO.sticky}" class="layui-badge layui-bg-orange">置顶</span>
                    <span th:if="${postDTO.essence}" class="layui-badge layui-bg-red">精帖</span>

                    <div class="fly-admin-box" id="fun" th:value="${postDTO.id}" th:data-id="${postDTO.id}"
                         th:if="${loginUser!=null}">
                        <span th:if="${postDTO.canDelete}" onclick="delPost()" class="layui-btn layui-btn-xs jie-admin"
                              type="del">删除</span>

                        <span th:if="${postDTO.canSticky&&(!postDTO.sticky)}" class="layui-btn layui-btn-xs jie-admin"
                              type="set" field="stick" rank="1">置顶</span>
                        <span th:if="${postDTO.sticky&&postDTO.canSticky}" class="layui-btn layui-btn-xs jie-admin"
                              type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span>

                        <span th:if="${postDTO.canEssence&&(!postDTO.essence)}" class="layui-btn layui-btn-xs jie-admin"
                              type="set" field="essence" rank="1">加精</span>
                        <span th:if="${postDTO.canEssence&&(postDTO.essence)}" class="layui-btn layui-btn-xs jie-admin"
                              type="set" field="essence" rank="0" style="background-color:#ccc;">取消加精</span>
                        <span th:if="${postDTO.canPromote}" class="layui-btn layui-btn-xs jie-admin" type="set"
                              field="promote" rank="1">提升</span>
                        <span th:if="${postDTO.canClassify}" class="layui-btn layui-btn-xs jie-admin"
                              id="admin-btn">快改</span>
                    </div>
                    <span class="fly-list-nums">
            <a href="#comment"><i class="iconfont" title="回复">&#xe60c;</i><span
                    th:text="${postDTO.commentCount}"></span></a>
            <i class="iconfont" title="浏览">&#xe60b;</i><span th:text="${postDTO.viewCount}"></span>
          </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar niter-avatar" th:href="${'/user/'+ postDTO.user.id}">
                        <img th:src="${postDTO.user.avatarUrl}"
                             th:alt="${postDTO.user.userName}">
                    </a>
                    <div class="fly-detail-user">
                        <a th:href="${'/user/'+postDTO.user.id}" class="fly-link" target="_blank">

                            <cite th:class="fly-list-kiss" th:text="${postDTO.user.userName}"></cite>
                        </a>
                        <span th:text="${postDTO.updatedStr}"></span>
                        <th:block th:text="${postDTO.edited?' 编辑':' 发表'}"></th:block>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200">Aries社区-我的故事还是关于你啊<a target="_blank"
                                                                                               href="http://59.110.23.184:8081/"
                                                                                               th:text="${@environment.getProperty('site.info.contactQun')}"></a>。</span>
                        <span th:if="${loginUser!=null&&postDTO.canEdit}" class="layui-btn layui-btn-xs jie-admin"
                              type="edit"><a th:href="@{'/p/publish/'+${postDTO.id}}" style="margin-left: -5px;"><i
                                class="layui-icon">&#xe642;</i>编辑</a></span>
                        <!--span th:data-id="${postDTO.id}" onclick="like_postDTO(this)" class="layui-btn layui-btn-xs layui-btn-warm"><i class="layui-icon">&#xe600;</i><th:block th:text="${postDTO.favorite?'已':''}"></th:block>收藏(<span th:id="${'postDTOlikecount-'+postDTO.id}" th:text="${postDTO.likeCount}"></span>)</span-->
                    </div>
                </div>
                <div style="margin-top: 20px;margin-bottom: 20px" class="layui-text layui-table video photos p-detail"
                     id="descriptionP" th:text="${postDTO.description}">
                </div>
                <div style="text-align: center;margin-top: 10px">
                    <span th:data-id="${postDTO.id}" onclick="like_postDTO()"
                          style="font-size: 15px; color: #FFB800;cursor: pointer"><i
                            th:id="${'postDTOLikeIcon-'+postDTO.id}" class="layui-icon"
                            th:text="${postDTO.favorite?'&#xe658;':'&#xe600;'}"></i><span
                            th:id="${'postDTOLikeText-'+postDTO.id}"
                            th:text="${postDTO.favorite?'已':''}"></span>收藏(<span
                            th:id="${'postDTOlikecount-'+postDTO.id}" th:text="${postDTO.likeCount}"></span>)</span>
                    <span class="copyshare"><i class="layui-icon"
                                               style="font-size: 15px; color: #1E9FFF;cursor: pointer">&#xe641; 分享</i></span>
                </div><!--分享-->
                <div style="margin-top: 10px">
                    相关标签：
                    <span class="layui-badge-rim" th:each="tag : ${postDTO.tag.split(',')}">
                        <a th:href="@{/index/(page=1,tag=${tag})}"
                           th:text="${tag}" class="community-tag"></a>
          </span>
                    <br>
                    <small style="color: #999;">注意：本文归作者所有，未经作者允许，不得转载</small>
                </div><!--标签-->

            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend th:text="${postDTO.commentCount+'个评论'}"></legend>
                </fieldset>
                <ul class="jieda" id="jieda" th:each="comment : ${postDTO.comments}">
                    <li th:data-id="${comment.id}" th:id="${'comment-body-'+comment.id}" class="jieda-daan">
                        <a name="item-1111111111"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar niter-avatar" th:href="${'/user/'+comment.user.id}">
                                <img th:src="${comment.user.avatarUrl}"
                                     th:alt="${comment.user.userName}">
                            </a>
                            <div class="fly-detail-user">
                                <a th:href="${'/user/'+comment.user.id}" class="fly-link" target="_blank">
                                    <cite th:class="fly-list-kiss" th:text="${comment.user.userName}"></cite>
                                </a>
                                <span th:if="${postDTO.user.id == comment.user.id}">(楼主)</span>
                            </div>

                            <div class="detail-hits">
                                <span th:text="${comment.createdStr}"></span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body photos" th:text="${comment.content}">
                        </div>
                        <div class="jieda-reply">
              <span class="jieda-zan" th:id="${'thumbicon-'+comment.id}">
                <i class="iconfont icon-zan" th:data-id="${comment.id}" onclick="like_comment(this)"></i>
                <em th:id="${'likecount-'+comment.id}" th:text="${comment.likeCount}"
                    th:class="${comment.likeCount != 0}? 'zanok' : ''"></em>
              </span>
                            <span th:data-id="${comment.id}" onclick="collapseComments(this,2)">
                <i class="iconfont icon-svgmoban53"></i>
               <em th:text="${comment.commentCount}" th:class="${comment.commentCount != 0}? 'zanok' : ''"></em>
              </span>
                            <div class="jieda-admin" th:if="${loginUser!=null}" id="commentId" th:value="${comment.id}">
                                <span type="del"
                                      th:if="${comment.authorId==loginUser.id||postDTO.user.id==loginUser.id}"
                                      onclick="delComment()">删除</span>
<!--                                <span class="jieda-accept" type="accept"-->
<!--                                      th:if="${comment.postId==loginUser.id}">采纳</span>-->
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 layui-colla-content sub-comments"
                             th:id="${'comment-'+comment.id}" lay-filter="sub-comments">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control layui-input" placeholder=""
                                       th:id="${'input-'+comment.id}">
                                <button th:id="${'btn-'+comment.id}" type="button" class="layui-btn  rightbtn"
                                        onclick="comment(this)"
                                        th:data-id="${comment.id}" data-type=2>评论
                                </button>
                            </div>
                        </div>
                    </li>

                </ul>
                <!-- 无数据时 -->
                <ul class="jieda">
                    <li th:if="${postDTO.commentCount==0}" class="fly-none">消灭零回复</li>
                </ul>

                <div class="layui-form layui-form-pane">
                    <input type="hidden" id="postDTO_id" th:value="${postDTO.id}">
                    <div class="layui-form-item layui-form-text">
                        <a name="comment"></a>
                        <div class="layui-input-block">
                            <textarea id="comment_content" name="content" required lay-verify="required"
                                      placeholder="请输入内容" class="layui-textarea talk-editor"
                                      style="height: 150px;"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" name="jid" value="123">
                        <button id="commentQBtn" onclick="commentClick()" class="layui-btn">回复</button>
                    </div>

                </div>
            </div>

            <form class="layui-form" id="admin-panel" style="display:none">
                <input style="display: none" name="id" th:value="${postDTO.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="padding: 9px 0px;text-align: center">所在专栏</label>
                    <div class="layui-input-block" style="margin-left: 80px">
                        <select lay-verify="required" id="type" name="type">
                            <option></option>
                            <option value="1" th:selected="${postDTO.type==1}">提问</option>
                            <option value="2" th:selected="${postDTO.type==2}">分享</option>
                            <option value="3" th:selected="${postDTO.type==3}">建议</option>
                            <option value="4" th:selected="${postDTO.type==4}">讨论</option>
                            <option th:if="${postDTO.canSticky}" th:selected="${postDTO.column2==5}" value="5">公告
                            </option>
                            <option value="6" th:selected="${postDTO.type==6}">动态</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="padding: 9px 0px;text-align: center">阅读权限</label>
                        <div class="layui-input-block" style="margin-left: 80px;">
                            <select lay-verify="required" id="permission" name="permission">
                                <option value="1" th:selected="${postDTO.permission==1}">所有用户可见</option>
                                <option value="2" th:selected="${postDTO.permission==2}">不可见</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button style="float: right" class="layui-btn" lay-filter="submitAdmin" lay-submit>确认修改</button>
                </div>
            </form>
        </div>
        <th:block th:insert="~{common/sider :: p_detail}"></th:block>
    </div>
</div>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
    var obj = document.getElementById("descriptionP");
    obj.innerHTML = filterXSS(obj.innerText);

    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            try {
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                }
            } catch (err) {
                var ua = navigator.userAgent,
                    isWindowsPhone = /(?:Windows Phone)/.test(ua),
                    isSymbian = /(?:SymbianOS)/.test(ua) || isWindowsPhone,
                    isAndroid = /(?:Android)/.test(ua),
                    isFireFox = /(?:Firefox)/.test(ua),
                    isChrome = /(?:Chrome|CriOS)/.test(ua),
                    isTablet = /(?:iPad|PlayBook)/.test(ua) || (isAndroid && !/(?:Mobile)/.test(ua)) || (isFireFox && /(?:Tablet)/.test(ua)),
                    isIPhone = /(?:iPhone)/.test(ua) && !isTablet,
                    isPc = !isIPhone && !isAndroid && !isSymbian;
                if (isPc) iframe.height = 460;
                else if (isIPhone || isAndroid) iframe.height = 200;

            } finally {
                console.log(iframe.height);
            }
        }
    };
</script>

<script type="text/javascript">
    var con = '我在Aries社区找到一篇好文章《' + document.title + '》，快来戳后面的链接来围观吧！---';

    function myPlusShare() {
        window.plusShare({
            title: document.title,//应用名字或者文章标题
            content: con,
            href: location.href,//分享出去后，点击跳转地址
            thumbs: ["127.0.0.1:8080/images/logo.png"], //分享缩略图
        }, function (result) {
            //分享回调
        });
    }

    var clipboard = new ClipboardJS('.copyshare', {
        text: function () {

            if (navigator.userAgent.indexOf("Html5Plus") > -1) {
                myPlusShare();
            } else {
                swal("复制成功!", "赶快去粘贴分享文章吧~", "success");
            }
            return con + location.href + ' ';
        }
    });

    clipboard.on('success', function (e) {
        console.log(e);
    });

    clipboard.on('error', function (e) {
        console.log(e);
    });
</script>
<th:block th:insert="~{common/footer :: foot}"></th:block>
<script src="/layui/layui.js"></script>

<script type="text/javascript">
    function like_postDTO() {
        var postId = document.getElementById("fun").getAttribute("value");

        $.post('/like/post', {
            postId: postId,
        }, function (res) {
            if (res.code == 200) {
                swal({
                    title: "收藏成功,感谢您的支持!",
                    text: "点击确认后即可刷新页面!",
                    icon: "success",
                    button: "确认",
                }).then((value) => {
                    window.location.reload();
                });
            } else if (res.code == 2023) {
                swal({
                    title: "收藏失败!",
                    text: "请不要重复收藏哦!您可以在帖子管理页面取消收藏",
                    icon: "error",
                    button: "确认",
                });
            }
        });
    }
</script>

<script type="text/javascript">
    function delPost() {
        var id = document.getElementById("fun").getAttribute("value");

        layer.confirm('确认删除该贴么？删除后将无法恢复！', function (index) {
            layer.close(index);
            $.post('/post/del/id', {
                id: id
            }, function (res) {
                if (res.code == 200) {
                    swal("Good job!", "" + res.msg, "success").then((value) => {
                        location.href = '/index';
                    });
                } else swal("Oh,no!", "" + res.msg, "error");
            });
        });
    }
</script>

<script>
    function delComment() {
        var postId = document.getElementById("fun").getAttribute("value");
        var commentId = document.getElementById("commentId").getAttribute("value");

        $.post('/comment/delete', {
            postId: postId,
            commentId: commentId,
        }, function (res) {
            if (res.code == 200) {
                swal({
                    title: "删除评论成功!",
                    text: "点击确认后即可刷新页面!",
                    icon: "success",
                    button: "确认",
                }).then((value) => {
                    window.location.reload();
                });
            } else swal("Oh,no!", "" + res.message, "error");
        });
    }
</script>

<script>

    function commentClick() {
        let content = document.getElementById("comment_content").value;
        let postId = document.getElementById("postDTO_id").getAttribute("value");

        $.post('/comment/publish', {
            postId: postId,
            content: content,
        }, function (res) {
            if (res.code == 200) {
                swal({
                    title: "回复成功!",
                    text: "点击确认后即可刷新页面!",
                    icon: "success",
                    button: "确认",
                }).then((value) => {
                    window.location.reload();
                });
            } else swal("Oh,no!", "" + res.message, "error");
        });

    }
</script>
<script>

    layui.config({
        version: "3.0.0"
        , base: '/mods/'
    }).extend({
        fly: 'index'
    }).use(['fly', 'face', 'element', 'layer', 'util'], function () {
        var $ = layui.$
            , fly = layui.fly
            , util = layui.util
            , element = layui.element
            , layer = layui.layer;

        $('.detail-body').each(function () {
            var othis = $(this), html = othis.html();
            othis.html(filterXSS(fly.content(html)));
        });

        //监听折叠
        element.on('collapse(sub-comments)', function (data) {
            layer.msg('展开状态：' + data.show);
        });
        util.fixbar({
            bar1: '&#xe611;'
            , bgcolor: '#009688'
            , click: function (type) {
                if (type === 'bar1') {
                    location.href = '#comment';
                }
            }
        });
    });
</script>
</body>
</html>