<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.community.dao.TbLikeMapper">
  <resultMap id="BaseResultMap" type="com.feng.community.entity.TbLike">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="target_id" jdbcType="BIGINT" property="targetId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="liker" jdbcType="BIGINT" property="liker" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
</mapper>