<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.community.dao.TbPostMapper">
  <resultMap id="BaseResultMap" type="com.feng.community.entity.TbPost">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="BIGINT" property="type" />
    <result column="gold" jdbcType="INTEGER" property="gold" />
    <result column="created" jdbcType="BIGINT" property="created" />
    <result column="updated" jdbcType="BIGINT" property="updated" />
    <result column="status" jdbcType="BIGINT" property="status" />
    <result column="author_id" jdbcType="BIGINT" property="authorId" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="permission" jdbcType="INTEGER" property="permission" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="gmt_latest_comment" jdbcType="BIGINT" property="gmtLatestComment" />
    <result column="comment_count" jdbcType="BIGINT" property="commentCount" />
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>