<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>社区_登入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="社区,讨论,问答社区">
    <meta name="description" content="智能问答社区">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/mylay.css?v=1.36">
    <link rel="stylesheet" href="/css/wap2app.css?v=1.7">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/js/util.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/community.js?v=1.4.22" type="application/javascript"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/plusShare.js?v=1.7" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div th:insert="~{common/header :: nav}"></div>


<div class="layui-container fly-marginTop" >
    <div class="fly-panel fly-panel-user"  style="display: flex; justify-content: center; align-items: center" pad20>
        <div class="layui-tab layui-tab-brief"  lay-filter="user">
            <ul class="layui-tab-title">
                <li class="layui-this">登入</li>
                <li><a href="/register">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <!--登陆失败提示信息-->
                    <p th:if="${not #strings.isEmpty(msg) }" style="color: red" th:text="${msg} "></p>

                    <div class="layui-form layui-form-pane">
                        <form method="post" th:action="@{/login}">
                            <div class="layui-form-item">
                                <th:label for="L_email" class="layui-form-label">邮箱</th:label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="email" required lay-verify="required"
                                           autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="password" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">人机验证</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="yanzheng" required lay-verify="required"
                                           placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">
                                    <span style="color: #c00;" id="yanzheng"><</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" id="login_btn" lay-filter="*" lay-submit
                                        th:onclick="loginClick()">
                                    立即登录
                                </button>
                                <span style="padding-left:20px;">
                                    <a href="register">没有账号?点击注册</a> |
                                    <a href="forget">忘记密码?点击找回</a>
                                </span>
                            </div>
                            <div class="layui-form-item fly-form-app">
                                <span>登录失败请联系管理员!</span>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="/index" target="_blank">Aries智能问答社区</a> 2021 &copy;
        <a href="http://59.110.23.184:8081/" target="_blank">fengyunan
            出品</a></p>
    <p>
        <a href="https://github.com/fengyn1218" target="_blank">作者GitHub</a>
        <a href="https://blog.csdn.net/weixin_45518155?spm=1000.2115.3001.5343" target="_blank">作者CSDN</a>
        <a href="https://wpa.qq.com/msgrd?v=3&uin=2318699921&site=qq&menu=yes" target="_blank">联系作者</a>
    </p>
    <p>
        不炼金丹不坐禅,不做商贾不种田。闲来写就青山卖,不使人间造孽钱。
    </p>
</div>

<script src="/layui/layui.js"></script>
<script>
    let i = Math.round(Math.random() * 100);
    let j = Math.round(Math.random() * 100);
    document.getElementById('yanzheng').innerText = i + '+' + j + '=' + '?';

    function loginClick() {
        var temp = document.getElementById("L_vercode");
        var mail = document.getElementById("L_email").value;

        var mailReg = new RegExp("^[a-z0-9A-Z]+[- | a-z0-9A-Z . _]+@([a-z0-9A-Z]+(-[a-z0-9A-Z]+)?\\.)+[a-z]{2,}$");
        if ((!mailReg.test(mail))) {//邮箱不合法
            swal({
                title: "哎哟...",
                text: "邮箱格式错误了哦！",
                icon: "error",
                button: "确认",
            });
            document.getElementById("L_email").value = "";
            return;
        }

        if (temp.value != (i + j)) {
            swal({
                title: "哎哟...",
                text: "这么简单的数学题都不会么？~",
                icon: "error",
                button: "确认",
            });
            document.getElementById("L_vercode").value = "";
            return;
        }
    }

</script>

</body>
</html>