<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="foot">
    <div class="fly-footer">
        <p><a href="/index" target="_blank">智能问答社区</a> 2021 &copy;
            <a href="http://59.110.23.184:8081/" target="_blank">fengyunan
                出品</a></p>
        <p>
            <a href="https://github.com/fengyn1218" target="_blank">作者GitHub</a>
            <a href="https://blog.csdn.net/weixin_45518155?spm=1000.2115.3001.5343" target="_blank">作者CSDN</a>
            <a href="#" target="_blank">联系作者</a>
        </p>
        <p>
            不炼金丹不坐禅,不做商贾不种田。闲来写就青山卖,不使人间造孽钱。
        </p>
    </div>
    <script src="/layui/layui.js"></script>
</th:block>
<script>

</script>

</html>